<div class="login-status-header">
    <div *ngIf="isAuthenticated && username" class="login-status-user-info">
        Welcome {{username}}!
    </div>
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>
    <button *ngIf="isAuthenticated" (click)="logout()" routerLink="/login" class="security-btn">Logout</button>
    <button *ngIf="isAuthenticated" class="security-btn ml-3" routerLink="/orderHistory">Orders</button>
    <button *ngIf="isAuthenticated" class="security-btn ml-3" routerLink="/members">Member</button>
</div>